*{
    padding: 0px;
    margin: 0px;
}
.head{
    width: 1200px;
    display: flex;
    background-color: white;
    margin-left: 6%;
    margin-top: 3%;
    border-radius: 10px;
    height: 100px;
}
.head img{
    width: 100px;
    border-radius: 50px;
    align-items: center;
    height: 100px;
    margin-left: 5%;
}
.head h3{
    font-weight: 600;
    font-size: 40px;
    margin-left: 3%;
margin-top: 2%;
}
.calc{
    align-items: center;
    border-radius: 10px;
    width: 1200px;
    margin-left: 6%;
    margin-top: 1%;
    padding: 25px;
}
.gender{
    width: 300px;
}
.genderbt{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
}
input[name="gender"] {
	accent-color:orangered;
}

#age{
    width: 350px;
}
#age input{
    width: 200px;
    margin-top: 10px;
    display: flex;
}
#age span{
    font-size: 14px;
    color: gray;
    margin-top: 4%;
    margin-left: 2%;
font-style: italic;
}
#weight {
    width: 300px;
}
#weight input{
    width: 200px;
    margin-top: 10px;  
}
#height {
    width: 300px;
}
#height input{
    width: 200px;
    margin-top: 10px;  
}
.calc-btn{
    background-color:orangered;
    border-radius: 20px;
   margin-top: 40px;
   width: 150px;
   color: white;
   margin-left: 5%;
}
.rest-btn{
    background-color:rgb(99, 89, 86);
    border-radius: 20px;
   margin-top: 40px;
   width: 150px;
   color: white;
   margin-left: 35%;
}
.rest-btn:hover{
    background-color:rgb(61, 58, 57);
filter: brightness(120%);
color: white;
}
.calc-btn:hover{
    background-color: orangered;
    filter: brightness(95%);
    color: white;
}
.output{
    text-align: center;
    margin-left: 12%;
}
.output #bmi{
    font-size: 40px;
    font-weight: 600;
}

#bmi-band {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.color-band {
    flex: 1;
    height: 10px;
    width: 300px;
    border-radius: 4px;
}

.underweight {
    background-color: #3498db;
    width: 25%; /* Adjust as needed */
}

.healthy {
    background-color: #2ecc71;
    width: 25%; /* Adjust as needed */
}

.overweight {
    background-color: #f1c40f;
    width: 25%; /* Adjust as needed */
}

.obese {
    background-color: #e74c3c;
    width: 25%; /* Adjust as needed */
}

.bmi-labels{
    font-size: 11px;
    color: gray;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.bmi-labels p{
    color: black;
    font-weight: 600;
    font-size: 12px;
}

